@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@theme {
  /* Definition der Farben */
  --color-bonjwa-green: #1e9761;
  --color-bonjwa-dark: #0f5636;
  --color-bonjwa-orange: #ff8a00;
  --color-bonjwa-accent: #2be994;

  /* Fonts */
  --font-display: "Orbitron", sans-serif, system-ui, sans-serif;
  --font-sans: "Inter", sans-serif;

  /* Custom Glow-Effekte */
  --shadow-blue-glow: 0 0 15px rgba(0, 85, 170, 0.4);
  --shadow-orange-glow: 0 0 20px rgba(255, 138, 0, 0.5);
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-v12-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* Basis-Styling für den Gaming-Look */
@layer base {
  body {
    @apply bg-bonjwa-dark text-white antialiased font-sans;
  }
  
  h1, h2, h3, h4 {
    @apply font-display;
  }

  /* Klasse für das Ausblenden mit weichem Übergang */
  .historie-item.hidden-item {
    display: none;
  }
  
  .filter-btn.active {
    background-color: var(--color-bonjwa-orange);
    color: white;
    box-shadow: 0 0 15px rgba(255, 94, 0, 0.3);
  }

}