---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Historie from "../components/Historie.astro";
import TwitchStats from "../components/TwitchStats.astro";
---

<Layout title="Bonjwa Historie | Projekt">
	<main>
		<Hero />
		<Historie />
        <TwitchStats />
	</main>
</Layout>

